.expand_button {
  width: 245px;
  height: 48px;
  border: 1px solid #B88E2F;
  background: #FFFFFF;
  font-family: Poppins;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
color: #B88E2F;
cursor: pointer;
}