.product{
  width: 1241px;
  height: 730px;
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 45px;
  .product__img{
    margin-top: 20px;
  }
  .product__right{
    padding-left: 40px;
    width: 605px;
  }
  .product__mark{
    margin-top: 20px;
    display: flex;
    margin-bottom: 20px;
  }
  .product__size{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    gap: 15px;
    .product__size__first{
      align-items: center;
      display: flex;
      justify-content: center;
      width: 30px;
      height: 30px;
      background: #B88E2F;
      border-radius: 10px;
    }
    .product__size__next{
      align-items: center;
      display: flex;
      justify-content: center;
      width: 30px;
      height: 30px;
      background: #F9F1E7;
      border-radius: 10px;
    }
  }
  .product__krugi{
    padding-top: 10px;
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
  }
  .product__button{
    padding-top: 10px;
    margin-bottom: 40px;
    display: flex;
    gap: 15px;
    cursor: pointer;
  }
  .product__niz{
    border-top: 1px solid #D9D9D9;
    padding-top: 30px;
    display: flex;
    gap: 25px;
    .product__niz__text{
      font-size: 16px;
      color: #9f9f9f;
      height: 18px;
    }
  }
  .product__mess{
    display: flex;
    height: 18px;
    gap: 25px;
    align-items: center;
  }
  .product__title{
    font-size: 42px;
  }
  .product__price{
    font-size: 24px;
    color: #9f9f9f;
  }
  .product__cost{
    font-size: 13px;
    color: #9f9f9f;
  }
  .product__markcost{
    border-left: 1px solid #9f9f9f;
    padding-left: 20px;
    margin-left: 15px;
  }
  .product__text{
    font-size: 14px;
  }
  .product__span{
    font-size: 14px;
    color: white;
  }
  .product__span2{
    font-size: 14px;
    color: black;
  }
  .product__kolvo{
    width: 123px;
    height: 64px;
    background: white;
    border: 1px solid #9f9f9f;
    border-radius: 10px;
    font-size: 16px;
  }
  .product__buttons{
    width: 215px;
    height: 64px;
    background: white;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
  }
  .product__krug1{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #816DFA;
    cursor: pointer;
  }
  .product__krug2{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: black;
    cursor: pointer;
  }
  .product__krug3{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #B88E2F;
    cursor: pointer;
  }
}