<!--<div class="card3">-->
<!--    <img src="../assets/images/rectangle 1.webp">-->
<!--    <div class="card__body3">-->
<!--        <p class="card__text3">@@text</p>-->
<!--    </div>-->
<!--</div>-->

<div class="banner">
    <img src="../assets/images/banner.webp" class="banner__img">
    <div class="banner__container">
        <h1 class="banner__title">@@text</h1>
        <div class="banner__breadcrumbs">
            <a href="/index.html" class="banner__breadcrumb-link">Home</a>
            <span class="banner__breadcrumb-separator">&gt;</span>
            <span class="banner__breadcrumb-current">@@text</span>
        </div>
    </div>
</div>