<section class="benefits">
    <div class="benefits__item">
        <i class="benefits__icon icon-high-quality">
            <img src="../assets/images/cubok.webp">
        </i>
        <h3 class="benefits__title">High Quality</h3>
        <p class="benefits__description">Crafted from top materials</p>
    </div>

    <div class="benefits__item">
        <i class="benefits__icon icon-warranty">
            <img src="../assets/images/galka.webp">
        </i>
        <h3 class="benefits__title">Warranty Protection</h3>
        <p class="benefits__description">Over 2 years</p>
    </div>

    <div class="benefits__item">
        <i class="benefits__icon icon-free-shipping">
            <img src="../assets/images/shopping.webp">
        </i>
        <h3 class="benefits__title">Free Shipping</h3>
        <p class="benefits__description">Order over 150 $</p>
    </div>

    <div class="benefits__item">
        <i class="benefits__icon icon-support">
            <img src="../assets/images/support.webp">
        </i>
        <h3 class="benefits__title">24 / 7 Support</h3>
        <p class="benefits__description">Dedicated support</p>
    </div>
</section>