<div class="card__2">
    <div class="block__card2__img">
        <div class="block__card__new">
            <picture class="card1__image2">
                <source srcset="@@img-sm.webp" media="(max-width: 48px)">
                <source srcset="@@img-lg.webp" media="(max-width: 48px)">
                <img src="@@img.webp" class="card__image2">
            </picture>
            <div><p class="card__new">@@new</p></div>
        </div>
        <picture>
            <source srcset="@@img-sm.webp" media="(max-width: 285px)">
            <source srcset="@@img-lg.webp" media="(max-width: 301px)">
            <img src="@@img2.webp" class="card__image3">
        </picture>
    </div>
    <div class="card__body2">
        <div><p class="card__text2">@@text</p></div>
        <div><p class="card__text3">@@text_2</p></div>
        <div class="card__text_block">
            <div><p class="card__text4">@@text3</p></div>
            <div><s class="card__text5">@@text4</s></div>
        </div>
    </div>
</div>