<header>
    <div class="logo">
       <div class="logo__photo"> <img src="../assets/images/logo.webp"></div>
        <div class="logo__text"><b>Furniro</b></div>
    </div>
    <nav class="navigation">
        <a href="#" class="text_navigation">Home</a></li>
        <a href="#" class="text_navigation">Shop</a></li>
        <a href="#" class="text_navigation">About</a></li>
        <a href="#" class="text_navigation">Contact</a></li>
    </nav>
    <div class="shapka">
        <div class="shapka__photo"> <img src="../assets/images/chel.webp"></div>
        <div class="shapka__photo"> <img src="../assets/images/search.webp"></div>
        <div class="shapka__photo"> <img src="../assets/images/fav.webp"></div>
        <div class="shapka__photo"> <img src="../assets/images/corzina.webp"></div>
    </div>
</header>