<div class="product">
  <div class="product__left">
    <picture >
      <source srcset="@@img-sm.webp" media="(max-width: 80px)">
      <source srcset="@@img-lg.webp" media="(max-width: 76px)">
      <img src="@@img1.webp" alt="@@alt">
    </picture><br>
    <picture >
      <source srcset="@@img-sm.webp" media="(max-width: 76px)">
      <source srcset="@@img-lg.webp" media="(max-width: 80px)">
      <img src="@@img2.webp" alt="@@alt" class="product__img">
    </picture><br>
    <picture >
      <source srcset="@@img-sm.webp" media="(max-width: 76px)">
      <source srcset="@@img-lg.webp" media="(max-width: 80px)">
      <img src="@@img3.webp" alt="@@alt" class="product__img">
    </picture><br>
    <picture >
      <source srcset="@@img-sm.webp" media="(max-width: 76px)">
      <source srcset="@@img-lg.webp" media="(max-width: 80px)">
      <img src="@@img4.webp" alt="@@alt" class="product__img">
    </picture>
  </div>


  <div>
    <picture >
      <source srcset="@@img-sm.webp" media="(max-width: 500px)">
      <source srcset="@@img-lg.webp" media="(max-width: 423px)">
      <img src="@@img_glav.webp" alt="@@alt">
    </picture>
  </div>

  <div class="product__right">
    <h class="product__title">@@title</h><br>
    <span class="product__price">@@price</span>
    <div class="product__mark">
      <div>
        <picture >
          <source srcset="@@img-sm.webp" media="(max-width: 20px)">
          <source srcset="@@img-lg.webp" media="(max-width: 124px)">
          <img src="@@mark.webp" alt="@@star">
        </picture>
      </div>
      <div class="product__markcost">
        <span class="product__cost">5 Customer Review</span>
      </div>
    </div>
    <p class="product__text">Setting the bar as one of the loudest speakers in its class, the
      Kilburn is a compact, stout-hearted hero with a well-balanced
      audio which boasts a clear midrange and extended highs for a
      sound.
    </p>
    <span class="product__cost">Size</span>
    <div class="product__size">
      <div class="product__size__first">
        <span class="product__span">@@sizeNow</span>
      </div>
      <div class="product__size__next">
        <span class="product__span2">@@size1</span>
      </div>
      <div class="product__size__next">
        <span class="product__span2">@@size2</span>
      </div>
    </div>
    <span class="product__cost">Color</span>
    <div class="product__krugi">
      <div class="product__krug1"></div>
      <div class="product__krug2"></div>
      <div class="product__krug3"></div>
    </div>


    <div class="product__button">
      <div><button type="submit" class="product__kolvo">-   1   +</button></div>
      <div><button type="submit" class="product__buttons">Add To Chart</button></div>
      <div><button type="submit" class="product__buttons">+ Compare</button></div>
    </div>

    <div class="product__niz">
      <div>
        <p class="product__niz__text">SKU</p>
        <p class="product__niz__text">Category</p>
        <p class="product__niz__text">Tags</p>
        <p class="product__niz__text">Share</p>
      </div>
      <div>
        <p class="product__niz__text">:  SS001</p>
        <p class="product__niz__text">:  Sofas</p>
        <p class="product__niz__text">:  Sofa, Chair, Home, Shop</p>
        <div class="product__mess">
          <p class="product__niz__text">: </p>
          <img src="./assets/images/facebook.webp"/>
          <img src="./assets/images/inst.webp"/>
          <img src="./assets/images/twitter.webp"/>
        </div>
      </div>
    </div>
  </div>
  </di